/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  margin: 0;
}

/* CSS reset rules above */

:root {
  --header-bg-color: #ffffff;
  --sidebar-bg-color: #1e40af;
  --maincontent-bg-color: #f1f5f9;
  --content-text-color: #6b7280;
  --shadow-color: #9ca3af;
  --card-box-shadow: 2px 3px 4px var(--shadow-color);
  --header-box-shadow: 0 3px 6px 0 var(--shadow-color);
  --card-project-accent-color: #fbbf24;
  --button-border-radius: 16px;
  --card-border-radius: 10px;
  --button-default-color: #0ea5e9;
  --button-hover-color: #1e3a8a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #e2e8f0;
}

.container {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) 4fr;
  grid-template-rows: minmax(190px, 1fr) auto;
  font-family: Roboto, sans-serif;
}

/* header container*/

.header {
  grid-column: 2 / 3;
  display: grid;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--color-white);
  box-shadow: var(--header-box-shadow);
}

.upper-header {
  display: grid;
  /* gap: 32px; */
  grid-template-columns: 4fr 2fr;
}

.upper-header svg {
  fill: var(--color-black);
  height: 1.8rem;
}

.upper-header-search {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.upper-header-search input {
  /* flex: 1; */
  height: 2rem;
  border: none;
  padding: 1rem;
  border-radius: 2.5rem;
  color: var(--color-black);
  background-color: var(--color-gray);
  width: clamp(160px, 95%, 576px);
}

.upper-header-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.upper-header-notification img {
  border-radius: 20px;
  border: 3px solid var(--color-black);
  height: 40px;
  width: 40px;
}

.upper-header-notification p {
  color: var(--color-black);
  font-weight: 600;
}

.lower-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.lower-header-profile {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.profile-pic img {
  width: 100%;
  max-width: 500px;
}

.lower-header-profile img {
  border-radius: 40px;
  border: 3px solid var(--color-black);
  height: 80px;
  width: 80px;
}

.lower-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.lower-header-buttons button {
  color: var(--color-white);
  width: 100px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 3px;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--button-default-color);
}

.lower-header-buttons button:hover {
  background: var(--button-hover-color);
  cursor: pointer;
}

/* sidebar container */

.sidebar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--sidebar-bg-color);
  overflow: hidden;
}

.sidebar svg {
  margin-right: 1.3rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--color-white);
}

.sidebar ul li {
  margin-bottom: 16px;
}

.sidebar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.sidebar .first-list{
  margin: 2rem 0;
}

.sidebar ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sidebar svg {
  fill: var(--color-white);
  min-width: 28px;
}

.sidebar > ul {
  padding-left: 1rem;
}

.sidebar-header svg {
  height: 3.5rem;
}

.first-list svg, .second-list svg {
  height: 1.6rem;
}

.first-list a, .second-list a {
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 145px;
}

/* main-content container */

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: minmax(500px, 3fr) 1fr;
  /* grid-template-rows: 1fr 1fr; */
  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--maincontent-bg-color);
}

.projects {
  grid-row: 1 / 3;
}

.projects-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 10px solid var(--card-project-accent-color);
  background-color: var(--color-white);
  box-shadow: var(--card-box-shadow);
}

.card .actions {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  margin-top: auto;
}

.announcements-items {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1.5rem;
}

.announcement-item .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

.trending-items {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

.trending-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}